<footer>
<img class="pull-left" src="/rubyonrails.png" alt="" height="50" width="100">
	<span class="pull-right"><%= link_to 'About', '#' %></span>
	<span class="pull-right"><%= link_to 'Contact', '#' %></span>
	<span class="pull-right"><%= link_to 'News', '#' %></span>
</footer>
